# Ignore development files and directories
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
dist/
build/
*.log

# Addiitonal development files and directories
pyenv.cfg
.flake8
LICENSE
README.md

# Ignore database files
*.sqlite3

# Ignore environment-specific files
.env
.env.*
.envrc

# Ignore version control files
.git/
.gitignore