volumes:
  postgres_data:
    name: thpsrun_prod_postgres_data
  static_files:
    name: thpsrun_static_files

services:
  postgres:
    container_name: postgres
    image: postgres:17.8-bookworm
    restart: unless-stopped
    shm_size: 128mb
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - thpsrun

  django:
    container_name: django
    restart: unless-stopped
    build: .
    ports:
      - "8001:8001"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    volumes:
      - static_files:/app/static:rw
    read_only: true
    tmpfs:
      - /tmp
    security_opt:
      - no-new-privileges:true
    networks:
      - thpsrun

  celery:
    container_name: celery
    restart: unless-stopped
    build: .
    command: celery -A website worker --loglevel=info -E --max-tasks-per-child=100
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    read_only: true
    tmpfs:
      - /tmp
    security_opt:
      - no-new-privileges:true
    networks:
      - thpsrun

  redis:
    container_name: redis
    image: redis:alpine
    restart: unless-stopped
    command: redis-server --requirepass ${REDIS_PASSWORD}
    security_opt:
      - no-new-privileges:true
    networks:
      - thpsrun

networks:
  thpsrun:
    driver: bridge
    external: true
