volumes:
  postgres_data:
    name: thpsrun_prod_postgres_data
  static_files:
    name: thpsrun_static_files

services:
  postgres:
    container_name: postgres
    image: postgres:17.7-bookworm
    restart: unless-stopped
    shm_size: 128mb
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - thpsrun

  django:
    container_name: django
    restart: unless-stopped
    build: .
    ports:
      - "8001:8001"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    volumes:
      - ./backend:/app
      - static_files:/app/static:rw
    networks:
      - thpsrun

  redis:
    container_name: redis
    image: redis:alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - thpsrun

networks:
  thpsrun:
    driver: bridge
    external: true