volumes:
    static_files:
      name: thpsrun_static_files
    postgres_data:
      name: thpsrun_postgres_data

services:
  postgres:
    container_name: postgres
    image: postgres:17.6-bookworm
    restart: unless-stopped
    shm_size: 128mb
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - thpsrun

  django:
    container_name: django
    build:
      context: .
      dockerfile: Dockerfile
      args:
        UID: 1000
        GID: 1000
    command: /app/start.sh server
    restart: unless-stopped
    ports:
      - "8001:8001"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    volumes:
      - ./srlc:/app
      - static_files:/app/static:rw
      - ../guides:/app/docs
    networks:
      - thpsrun

  celery:
    container_name: celery
    build:
      context: .
      dockerfile: Dockerfile
      args:
        UID: 1000
        GID: 1000
    command: /app/start.sh celery
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    volumes:
      - ./srlc:/app
      - static_files:/app/static:rw
      - ../guides:/app/docs
    networks:
      - thpsrun

  redis:
    container_name: redis
    image: redis:alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - thpsrun

networks:
  thpsrun:
    driver: bridge
    external: true
