aiohttp==3.13.*
asgiref==3.11.*
celery[redis]
certifi==2026.*
crispy-bootstrap5==2025.*
Django==5.2.*
#django-allauth==65.7.*
django-bootstrap5==25.*
django-classy-tags==4.1.*
django-cors-headers==4.7.*
django-debug-toolbar==5.2.*
django-environ==0.12.*
django-ratelimit==4.1.*
django-resized==1.0.*
django-sekizai==4.1.*
djangorestframework==3.16.*
djangorestframework-api-key==3.1.*
gunicorn==23.*
langcodes==3.5.*
language_data==1.4.*
markdown==3.*
pillow==12.1.*
psycopg[c]==3.3.*
python-dateutil==2.9.*
python-dotenv==1.1.*
pytz==2025.2
redis==7.1.*
requests==2.32.*
sentry-sdk>=2.30.0
rsa==4.9.*
tzdata==2025.*
uritemplate==4.2.*
urllib3>=2.6.0
wheel==0.46.*
whitenoise==6.11.*
yarl==1.22.*