<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="description" content="{{ ENV_WEBSITE_DESCRIPTION }}">
        <meta name="author" content="{{ ENV_WEBSITE_AUTHOR }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{{ ENV_WEBSITE_KEYWORDS }}">
        
        <title>FAQ - {{ ENV_WEBSITE_NAME }}</title>
        
        <link rel="icon" href="{% static 'srl/imgs/favicon.png' %}" type="image/x-icon">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <link rel="stylesheet" type="text/css" href="{% static 'srl/misc/css.css' %}">
    </head>
    <body>
        {% include 'srl/navbar.html' %}
        <br />
        <table id="privacy" class="privacy">
            <thead>
                <tr>
                    <th colspan="3" id="top" class="bg-info">{{ ENV_WEBSITE_NAME }} FAQ</th>
                </tr>
            </thead>
            <tbody>
                <td>
                    <div class="markdown-body">
                        <h3 id="whatthis">Q: What's thps.run?</h3>
                        <p>thps.run is a website developed by <a href="/player/thepackle" target="_blank">ThePackle</a> to serve as the main website for the Tony Hawk's Pro Skater (THPS) Speedrun Community. The function of this website is a lot like the one you can find at the <a href="https://haloruns.com/" target="_blank">Halo Runs Speedrun Community</a> - at least, from the points system side of things (more on that in a later question).

                        <h3 id="points">Q: What are Points</h3>
                        <p>Points (also lovingly referred to as Packle Points by the community) is a sort-of numerical score given to all speedruns. Originally developed by goatrope and ibeechu at <a href="https://haloruns.com/">Halo Runs</a>, this system incentivizes players to venture out from their normal speedgames and get better in multiple games to add to their global "score". Here is a breakdown of how points are distributed:</p>
                        <ul>
                            <li>Maximum points are given to the World Record (or best run) for that specific category or individual level. The points given are as follows:
                                <ul>
                                    <li>Fullgame (non-Category Extensions): 1000 points</li>
                                    <li>Individual Levels: 100 points</li>
                                    <li>Category Extensions: 25 points</li>
                                </ul>
                            </li>
                            <li>All subsequent runs in the category will receive reduced points (unless they are tied to the record). The formula is algorithmic and is as follows, along with a description of each part of it:
                                <ul>math.floor((0.008 * math.pow(math.e, (4.8284 * (wr_time/secs)))) * run_type)
                                    <li>P = 0.008 * e<sup>4.8284x</sup> * y
                                        <ul>
                                            <li>x = WRSeconds / PBSeconds</li>
                                            <li>y = Points based on run type (1000 for fullgame; 100 for ILs; 25 for CEs)</li>
                                        </ul>
                                    </li>
                                    <li>As an example of how points are reduced, here is how many points a player receives if the World Record was a 1:20:00:
                                        <ul>
                                            <li>1:20:00 = 1000 points (maximum for fullgame)</li>
                                            <li>1:25:00 = 752 points</li>
                                            <li>1:30:00 = 584 points</li>
                                            <li>1:40:00 = 380 points</li>
                                            <li>3:00:00 = 68 points</li>
                                            <li>4:00:00 = 40 points</li>
                                            <li>5:00:00 = 28 points</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <p>When a new World Record is attained, the website will automatically redistribute the points to all subsequent runs.</p>
                    
                        <h3 id="addedruns">Q: How are speedruns added to this website? Can I add them or submit them?</h3>
                        <p>Speedruns are added to this site through a custom-made API. Whenever a speedrun is approved on <a href="https://speedrun.com/tonyhawk">Speedrun.com</a> (SRC), the information for that run (including time, category, player(s), platform, and other metadata) is sent to the aforementioned API. After it is processed, the run is added to this website's database and can be displayed on here. Luckily, the time to wait after a run is approved is near instant!</p>
                        <p>For now, all speedruns must be approved through SRC. But, this may change in the future!</p>

                        <h3 id="runnotfound">Q: Why isn't my run showing up on here?</h3>
                        <p>TL;DR: Someone approved of your speedrun very quickly on SRC, so it didn't have a chance to be "found" by the bot. Let ThePackle know and he can fix it!</p>
                        <p>thps.run serves to compliment the SRC leaderboards. However, due to how SRC's API is setup (i.e. no webhooks), the THPSBot on our Discord serves as the "inject point" for thps.run. Every ~5 minutes, it will query all Tony Hawk runs awaiting verification. They are logged on the bot's side, then checked every 5 minutes to see if the status of the run changed. In the grand majority of cases, the bot "sees" every run. However, sometimes, a moderator will approve a run very quickly after submission (i.e. they just so happened to be on the main Moderator page when you submitted), so the bot will not "see" it.</p>
                        <p>Obviously, this isn't the best solution (Hell, it used to be 30 minutes!), but it is the best we have for now. Previously, SRC's API had a weird caching issue where a run would be in a juxtaposition of being approved and awating approval a the same time (hence the 30 minutes). But, with their recent work on it, this was fixed. The timer could be moved down to 1 minute, but 5 minutes is fine in 99.9% of cases.</p>
                        <p>ANYWAYS! If your run is not on the board, or you see someone's run isn't on here, please contact ThePackle so he can fix it!</p>

                        <h3 id="api">Q: Can I access the API?</h3>
                        <p>For inquries on accessing this API, please contact ThePackle on Discord.</p>

                        <h3 id="development">Q: Is this website actively being developed?</h3>
                        <p>Yes! This website is being actively developed by ThePackle! Be sure to check out the website's <a href="/changelog">changelog</a> on what updates have bee applied! Why do we have a changelog? Who knows!?</p>
                    </td>
                </div>
            </tbody>
        </table>
        <br />
        {% include 'srl/footer.html' %}
    </body>
</html>

