<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="description" content="{{ ENV_WEBSITE_DESCRIPTION }}">
        <meta name="author" content="{{ ENV_WEBSITE_AUTHOR }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{{ ENV_WEBSITE_KEYWORDS }}">

        {% if "/ils" in request.path %}
            <title>{{ game_slug }} IL Leaderboards - {{ ENV_WEBSITE_NAME }}</title>
        {% else %}
            <title>{{ game_slug }} Full Game Leaderboards - {{ ENV_WEBSITE_NAME }}</title>
        {% endif %}

        <link rel="icon" href="{% static 'srl/imgs/favicon.png' %}" type="image/x-icon">
        <script type="text/javascript" src="{% static 'srl/misc/runs-data.js' %}"></script>

        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <link rel="stylesheet" type="text/css" href="{% static 'srl/misc/css.css' %}">
    </head>
    <body>
        {% include 'srl/navbar.html' %}
        <div id="runs-data" style="display: none;">{{ runs|json_script:"runs-data" }}</div>
        <form id="subcategory-form" class="search-bar">
            <select id="subcategory-dropdown" name="subcategory" onchange="updateLeaderboard()">
                {% for subcategory in subcategories %}
                    <option value="{{ subcategory }}" {% if subcategory == selected_subcategory %}selected{% endif %}>{{ subcategory }}</option>
                {% endfor %}
            </select>
        </form>
        <div class="main-page-container">
            <div class="main-table">
                <table id="leaderboard-table" class="table table-striped table-light table-hover main-wrs">
                    <thead>
                        <tr>
                            <th class="bg-info">Rank</th>
                            <th class="bg-info">Player</th>
                            <th class="bg-info">Time 
                                {% if runs.0.defaulttime == 'ingame' %} (IGT)
                                {% elif runs.0.defaulttime == 'realtime' %} (RTA)
                                {% elif runs.0.defaulttime == 'realtime_noloads' %} (LRT)
                                {% else %} ({{ runs.0.defaulttime }})
                                {% endif %}
                            </th>
                            <th class="bg-info">Date</th>
                            <th class="bg-info">Points</th>
                            <th class="bg-info">Videos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for run in runs %}
                            {% if run.subcategory == selected_subcategory %}
                                <tr data-subcategory="{{ run.subcategory }}">
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="side-table">
                <div class="latest-wrs">
                    <table id="leaderboardTable" class="table table-striped table-light table-hover">
                        <thead class="bg-info">
                            <tr>
                                <th colspan="2" class="bg-info">Record Counts</th>
                            </tr>
                        </thead>
                        <thead class="bg-info">
                            <tr>
                                <th class="bg-info">Player</th>
                                <th class="bg-info">Records</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in wr_count %}
                                <tr>
                                    {% if item.countrycode %}
                                        <td><img src="https://flagcdn.com/h20/{{ item.countrycode }}.png" alt="{{ item.countryname }}" title="{{ item.countryname }}" onerror="this.onerror=null; this.src=''" height="15" />
                                            {% if item.nickname %}
                                                <a href="/player/{{ item.player }}">{{ item.nickname }}</a></td>
                                            {% else %}
                                                <a href="/player/{{ item.player }}">{{ item.player }}</a></td>
                                            {% endif %}
                                    {% else %}
                                        {% if item.nickname %}
                                            <td><a href="/player/{{ item.player }}">{{ item.nickname }}</a></td>
                                        {% else %}
                                            <td><a href="/player/{{ item.player }}">{{ item.player }}</a></td>
                                        {% endif %}
                                    {% endif %}
                                    <td>{{ item.il_wrs }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        {% if game_slug == "thps4" %}
                            <tbody>
                                <tr>
                                    <td colspan="2" style="font-size:smaller!important;">*Excluding "Zoo - Feed the Hippos"</td>
                                </tr>
                            </tbody>
                        {% endif %}
                    </table>
                </div>
                <div class="latest-runs">
                    <table id="leaderboardTable" class="table table-striped table-light table-hover">
                        <thead>
                            <tr class="bg-info">
                                <th colspan="4" class="bg-info">Oldest Records</th>
                            </tr>
                        </thead>
                        <thead>
                            <tr class="bg-info">
                                <th class="bg-info">IL</th>
                                <th class="bg-info">Time</th>
                                <th class="bg-info">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for run in old_runs %}
                                <tr>
                                    <td>{{ run.0 }}</td>
                                    <td>{{ run.1 }}</td>
                                    <td>{{ run.2 }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% include 'srl/footer.html' %}
    </body>
</html>
