<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="description" content="{{ ENV_WEBSITE_DESCRIPTION }}">
        <meta name="author" content="{{ ENV_WEBSITE_AUTHOR }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{{ ENV_WEBSITE_KEYWORDS }}">

        {% if "/fullgame" in request.path %}
            <title>{{ game_slug }} Full Game Leaderboard - {{ ENV_WEBSITE_NAME }}</title>
        {% elif "/all" in request.path %}
            <title>{{ game_slug }} IL Overall Leaderboard - {{ ENV_WEBSITE_NAME }}</title>
        {% else %}
            <title>Overall Leaderboard - {{ ENV_WEBSITE_NAME }}</title>
        {% endif %}
        
        <link rel="icon" href="{% static 'srl/imgs/favicon.png' %}" type="image/x-icon">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <script type="text/javascript" src="{% static 'srl/misc/leaderboard.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'srl/misc/css.css' %}">
    </head>
    <body>
        <div id="leaderboard-data" style="display: none;">{{ leaderboard.object_list|json_script:"leaderboard-data"  }}</div>
        {% include 'srl/navbar.html' %}
        {% if leaderboard.has_other_pages %}
            <form id="searchForm" method="GET" class="search-bar">
                <input type="text" name="search" id="searchInput" placeholder="Search player...">
                <button type="submit">Search</button>
            </form>
        {% else %}
            <br />
        {% endif %}

        <table id="leaderboardTable" class="table table-striped table-light table-hover">
            <thead>
                <tr>
                    {% if "/fullgame" in request.path %}
                        <th colspan="3" class="bg-info">Full Game Leaderboard</th>
                    {% elif "/lbs/" in request.path %}
                        {% if game_slug == "thps12" %}
                            <th colspan="3" class="bg-info">Tony Hawk's Pro Skater 1+2 Overall IL Leaderboard</th>
                        {% elif game_slug == "thps12ce" %}
                            <th colspan="3" class="bg-info">THPS1+2 Category Extensions Overall IL Leaderboard</th>
                        {% else %}
                            <th colspan="3" class="bg-info">{{ game_name }} Overall IL Leaderboard</th>
                        {% endif %}
                    {% else %}
                        <th colspan="3"  class="bg-info">Overall Leaderboard</th>
                    {% endif %}
                </tr>
            </thead>
            <thead>
                <tr>
                    <th class="bg-info">Rank</th>
                    <th class="bg-info">Player</th>
                    <th class="bg-info">Points</th>
                </tr>
            </thead>
            <tbody id="main">
                {% for item in leaderboard %}
                    <tr>
                        <td>{{ item.rank }}</td>
                        {% if item.countrycode %}
                            <td><img src="https://flagcdn.com/h20/{{ item.countrycode }}.png" title="{{ item.countryname }}" alt="{{ item.countryname }}" onerror="this.onerror=null; this.src=''" height="15" />
                                {% if item.nickname %}
                                    <a href="/player/{{ item.player }}">{{ item.nickname }}</a></td>
                                {% else %}
                                    <a href="/player/{{ item.player }}">{{ item.player }}</a></td>
                                {% endif %}
                        {% else %}
                            {% if item.nickname %}
                                <td><a href="/player/{{ item.player }}">{{ item.nickname }}</a></td>
                            {% else %}
                                <td><a href="/player/{{ item.player }}">{{ item.player }}</a></td>
                            {% endif %}
                        {% endif %}
                        <td>{{ item.total_points }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tbody>
                {% if leaderboard.has_other_pages %}
                    <tr>
                        <td colspan="3">
                            {% if leaderboard.has_previous %}
                                <a href="?search={{ search_query }}&page=1">&laquo; First</a>
                                <a href="?search={{ search_query }}&page={{ leaderboard.previous_page_number }}">Previous</a>
                            {% endif %}
            
                            {% for num in leaderboard.paginator.page_range %}
                                {% if leaderboard.number == num %}
                                    <span class="current-page">{{ num }}</span>
                                {% else %}
                                    <a href="?search={{ search_query }}&page={{ num }}">{{ num }}</a>
                                {% endif %}
                            {% endfor %}
            
                            {% if leaderboard.has_next %}
                                <a href="?search={{ search_query }}&page={{ leaderboard.next_page_number }}">Next</a>
                                <a href="?search={{ search_query }}&page={{ leaderboard.paginator.num_pages }}">Last &raquo;</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        {% include 'srl/footer.html' %}
    </body>
</html>

