<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="description" content="{{ ENV_WEBSITE_DESCRIPTION }}">
        <meta name="author" content="{{ ENV_WEBSITE_AUTHOR }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{{ ENV_WEBSITE_KEYWORDS }}">

        <title>Regional Leaderboards - {{ ENV_WEBSITE_NAME }}</title>

        <link rel="icon" href="{% static 'srl/imgs/favicon.png' %}" type="image/x-icon">

        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <link rel="stylesheet" type="text/css" href="{% static 'srl/misc/css.css' %}">
    </head>
    <body>
        {% include 'srl/navbar.html' %}
        <br />
        <table id="leaderboard-table" class="table table-striped">
            <thead>
                <tr>
                    <th class="bg-info">Country</th>
                    <th class="bg-info">&#129351;</th>
                    <th class="bg-info">&#129352;</th>
                    <th class="bg-info">&#129353;</th>
                </tr>
            </thead>
            <tbody>
                {% for item in olympics %}
                    {% if item.first_places > 0 and item.second_places > 0 and item.third_places > 0 %}
                        <tr>
                            <td>{{ item.countryname }}</td>
                            <td>{{ item.first_places }}</td>
                            <td>{{ item.second_places }}</td>
                            <td>{{ item.third_places }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% include 'srl/footer.html' %}
    </body>
</html>