body{
    /* background: url("../imgs/background2.jpg") no-repeat fixed center; */
    background-color: #000000;
    background-size: cover;
    font-size: larger;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
footer{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid;
    border-width: 5px;
}
form.search-bar{
    padding: 0.5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-width: 5px;
}
th{ 
    color:#fff!important;
    text-align: center;
    font-size: larger;
}
td{
    font-size: large;
}
.row{
    padding: 0.6%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.table{
    padding: 0.5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255,.85);
    border: 5px solid;
    border-width: 5px;
}
.privacy{
    padding: 0.5%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255,.85);
    border: 5px solid;
    border-width: 5px;
}
.navbar-nav.social.ml-autio{
    margin-left: auto !important; 
    padding-right: 1%;
}
.soc{
    padding-left: 2px;
    padding-right: 2px;
}
.navbar{
    background-color: rgba(255,255,255,.85) !important;
    margin-left: auto;
    margin-right: auto;
}
.faq{
    background-color: rgba(255,255,255,.85);
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}
.drops{
    font-size: medium;
    text-align: center;
}
.bg-info{
    background-color: #515151 !important;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 
.navbar-brand{
    padding: 5%;
}
/*MAIN PAGE CSS*/
.main-page-container{
    display: flex;
    margin: auto;
    
    position:relative;
    justify-content: flex-start;
    margin-top: 1%;
}
.main-wrs{
    flex: 3;
}
.side-table{
    flex: 1;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
}
/*PROFILE CSS*/
.super-container{
    background-color: rgba(255,255,255,.85);
    border: 5px solid;
    border-width: 5px;
    box-shadow: 0px 15px 6px 7px rgb(0 0 0 / 23%);
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
    flex-wrap: wrap;
    font-size: large;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 60%;
}
.profile-container{
    letter-spacing: .4px;
    padding: 10px;
}
.pfp-img{
    height: 100px;
    width: 100px;
}
.profile-info{
    display: flex;
}
.profile-pfp{
    padding-right: 10px;
}
.profile-username{
    font-size: 20px;
    letter-spacing: .5px;
}
.profile-socials{
    align-self: center;
}
.socialicons{
    margin-bottom: 0!important;
    margin-top: 5px!important;
    text-align: left;
    padding-bottom: 5px;
}
.profile-stats{
    justify-content: center;
    padding: 0 50px;
}

/*COOKIE BANNER*/
body.with-cookie-bar {
    padding-top: 35px;
}

.cookie-bar {
    position: fixed;
    width: 100%;
    top:0;
    text-align:center;
    height:25px;
    line-height: 25px;
    background: #eee;
}

@media only screen and (max-width: 900px){
    body{
        width: 100%;
        font-size: small;
        text-align: unset;
    }
    h5{
        font-size: small;
    }
    footer{
        width: 100%;
        border: unset;
    }
    th{
        font-size: small;
    }
    td{
        font-size: small;
    }
    .super-container{
        border: 5px solid;
        border-width: 5px;
        box-shadow: 0px 15px 6px 7px rgb(0 0 0 / 23%);
        margin: 0 auto;
        margin-top: 1%;
        margin-bottom: 1%;
        flex-wrap: wrap;
        font-size: small;
        display: flex;
        justify-content: center;
        text-align: unset;
        width: 95%;
    }
    .pfp-img{
        height: 50px;
        width: 50px;
    }
    .profile-username{
        font-size: small;
    }
    .profile-container{
        font-size: small;
    }
    .profile-stats{
        justify-content: center;
        padding: 0 10px;
    }
    .table{
        border: unset;
    }
    .main-page-container{
        display: block;
    }
    .side-table{
        margin-left: unset;
    }
}