<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="description" content="{{ ENV_WEBSITE_DESCRIPTION }}">
        <meta name="author" content="{{ ENV_WEBSITE_AUTHOR }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{{ ENV_WEBSITE_KEYWORDS }}">
        
        <title>{{ doc_title }} - {{ ENV_WEBSITE_NAME }}</title>
        
        <link rel="icon" href="{% static 'srl/imgs/favicon.png' %}" type="image/x-icon">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <link rel="stylesheet" type="text/css" href="{% static 'srl/misc/css.css' %}">
    </head>
    <body>
        {% include 'srl/navbar.html' %}
        <br />
        <table id="privacy" class="privacy">
            <thead class="bg-info">
                <tr>
                    <th>{{ doc_title }}</th>
                </tr>
            </thead>
            <tbody>
                <td>
                {% block content %}
                    <div class="markdown-body">
                        {{ doc_content|safe }}
                    </div>
                {% endblock %}
                </td>
            </tbody>
        </table>
        <br />
        {% include 'srl/footer.html' %}
    </body>
</html>

