<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        {% load custom_filters %}

        <meta charset="utf-8">
        <meta name="description" content="{{ ENV_WEBSITE_DESCRIPTION }}">
        <meta name="author" content="{{ ENV_WEBSITE_AUTHOR }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{{ ENV_WEBSITE_KEYWORDS }}">
        
        <title>{{ game }} Guides Directory - {{ ENV_WEBSITE_NAME }}</title>
        
        <link rel="icon" href="{% static 'srl/imgs/favicon.png' %}" type="image/x-icon">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <link rel="stylesheet" type="text/css" href="{% static 'srl/misc/css.css' %}">
    </head>
    <body>
        {% include 'srl/navbar.html' %}
        <br />
        <table id="leaderboardTable" class="table table-striped table-light table-hover guides-list">
            <thead>
                <tr>
                    <th colspan="3" class="bg-info">{{ game_name }} Guides</th>
                </tr>
            </thead>
            <tbody id="main">
                {% for guide in guides %}
                <tr>
                    <td><a href="{{ guide.url }}" alt="{{ guide.title }}">{{ guide.title }}</a></td>
                    <td>by
                        {% if guide.author.name %}
                            {% if guide.author.nickname %}
                                <a href="/player/{{guide.author.name}}">{{ guide.author.nickname }}</a>
                            {% else %}
                                <a href="/player/{{guide.author.name}}">{{ guide.author.name }}</a>
                            {% endif %}
                        {% else %}
                            {{ guide.author }}
                        {% endif %}
                    </td>
                    <td>({{ guide.last_mod|time_since }})</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br />
        {% include 'srl/footer.html' %}
    </body>
</html>

