<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="description" content="THPS Speedrun Community Leaderboards and Stats">
        <meta name="author" content="THPS Speedrun Community">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="speedrun, speedrun.com, leaderboards, thps, thps1, thps2, thps, World Record, Personal Best">

        {% load custom_filters %}
        <title>thps.run</title>
        <link rel="icon" href="{% static 'srl/imgs/favicon.png' %}" type="image/x-icon">

        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <link rel="stylesheet" type="text/css" href="{% static 'srl/misc/css.css' %}">        
    </head>
    <body>
        {% include 'srl/navbar.html' %}
        <div class="main-page-container">
            <div class="main-table">
                <table id="leaderboard-table-1" class="table table-striped main-wrs">
                    <thead>
                        <tr>
                            <th colspan="5"class="bg-info">Current World Records</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th class="bg-info">Game</th>
                            <th class="bg-info">Category</th>
                            <th class="bg-info">Player</th>
                            <th class="bg-info">Time</th>
                            <th class="bg-info">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for wr in runs %}
                            <tr>
                                {% if wr.game.abbr == "thps12" %}
                                    <td>THPS1+2</td>
                                {% else %}
                                    <td>{{ wr.game.abbr|upper }}</td>
                                {% endif %}
                                <td>{{ wr.subcategory }}</td>
                                {% if wr.player.countrycode %}
                                    {% if wr.player.countrycode.id == "vh" %}
                                        <td><img src="{% static 'srl/misc/vh.png' %}" title="{{ wr.player.countrycode.name }}" alt="{{ wr.player.countrycode.name }}" onerror="this.onerror=null; this.src=''" height="15" />
                                    {% else %}
                                        <td><img src="https://flagcdn.com/h20/{{ wr.player.countrycode.id }}.png" title="{{ wr.player.countrycode.name }}" alt="{{ wr.player.countrycode.name }}" onerror="this.onerror=null; this.src=''" height="15" />
                                    {% endif %}
                                        {% if wr.player.nickname %}
                                            <a href="/player/{{ wr.player.name }}">{{ wr.player.nickname }}</a></td>
                                        {% else %}
                                            <a href="/player/{{ wr.player.name }}">{{ wr.player.name }}</a></td>
                                        {% endif %}
                                {% else %}
                                    {% if wr.player.nickname %}
                                        <td><a href="/player/{{ wr.player.name }}">{{ wr.player.nickname }}</a></td>
                                    {% else %}
                                        <td><a href="/player/{{ wr.player.name }}">{{ wr.player.name }}</a></td>
                                    {% endif %}
                                {% endif %}
                                <td><a href="{{ wr.url }}" target="_blank">{{ wr.time }}</a></td>
                                <td>{{ wr.o_date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="side-table">
                <div class="latest-wrs">
                    <table  class="table table-striped">
                        <thead>
                            <tr>
                                <th colspan="4" class="bg-info">Latest World Records</th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th class="bg-info">Game</th>
                                <th class="bg-info">Category</th>
                                <th class="bg-info">Player</th>
                                <th class="bg-info">Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for wr in new_wrs %}
                                <tr>
                                    {% if wr.game.abbr == "thps12" %}
                                        <td>THPS1+2</td>
                                    {% else %}
                                        <td>{{ wr.game.abbr|upper }}</td>
                                    {% endif %}
                                    <td>{{ wr.subcategory }}</td>
                                    {% if wr.player.countrycode %}
                                        {% if wr.player.countrycode.id == "vh" %}
                                            <td><img src="{% static 'srl/misc/vh.png'%}" title="Valhalla" onerror="this.onerror=null; this.src=''" height="15" />
                                        {% else %}
                                            <td><img src="https://flagcdn.com/h20/{{ wr.player.countrycode.id }}.png" title="{{ wr.player.countrycode.name }}" onerror="this.onerror=null; this.src=''" height="15" />
                                        {% endif %}
                                            {% if wr.player.nickname %}
                                                <a href="/player/{{ wr.player.name }}">{{ wr.player.nickname }}</a></td>
                                            {% else %}
                                                <a href="/player/{{ wr.player.name }}">{{ wr.player.name }}</a></td>
                                            {% endif %}
                                    {% else %}
                                        {% if wr.player.nickname %}
                                            <a href="/player/{{ wr.player.name }}">{{ wr.player.nickname }}</a></td>
                                        {% else %}
                                            <a href="/player/{{ wr.player.name }}">{{ wr.player.name }}</a></td>
                                        {% endif %}
                                    {% endif %}
                                    <td>
                                        {% if wr.time_secs > 0 %}
                                            <a href="{{ wr.url }}" target="_blank">{{ wr.time }}</a>
                                        {% elif wr.timenl_secs > 0 %}
                                            <a href="{{ wr.url }}" target="_blank">{{ wr.timenl }}</a>
                                        {% elif wr.timeigt_secs > 0 %}
                                            <a href="{{ wr.url }}" target="_blank">{{ wr.timeigt }}</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="latest-runs">
                    <table id="leaderboard-table-3" class="table table-striped">
                        <thead>
                            <tr>
                                <th colspan="4" class="bg-info">Latest Runs</th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th class="bg-info">Game</th>
                                <th class="bg-info">Category</th>
                                <th class="bg-info">Player</th>
                                <th class="bg-info">Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for run in new_runs %}
                                <tr>
                                    {% if run.game.abbr == "thps12" %}
                                        <td>THPS1+2</td>
                                    {% else %}
                                        <td>{{ run.game.abbr|upper }}</td>
                                    {% endif %}
                                    <td>{{ run.subcategory }}</td>
                                    {% if run.player.countrycode %}
                                        <td><img src="https://flagcdn.com/h20/{{ run.player.countrycode.id }}.png" title="{{ run.player.countrycode.name }}" onerror="this.onerror=null; this.src=''" height="15" />
                                            {% if run.nickname %}
                                                <a href="/player/{{ run.player.name }}">{{ run.player.nickname }}</a></td>
                                            {% else %}
                                                <a href="/player/{{ run.player.name }}">{{ run.player.name }}</a></td>
                                            {% endif %}
                                    {% else %}
                                        <td>
                                        {% if run.player.nickname %}
                                            <a href="/player/{{ run.player.name }}">{{ run.player.nickname }}</a></td>
                                        {% else %}
                                            <a href="/player/{{ run.player.name }}">{{ run.player.name }}</a></td>
                                        {% endif %}
                                    {% endif %}
                                    <td>
                                        {% if run.time_secs > 0 %}
                                            <a href="{{ run.url }}" target="_blank">{{ run.time }}</a>
                                        {% elif run.timenl_secs > 0 %}
                                            <a href="{{ run.url }}" target="_blank">{{ run.timenl }}</a>
                                        {% elif run.timeigt_secs > 0 %}
                                            <a href="{{ run.url }}" target="_blank">{{ run.timeigt }}</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% include 'srl/footer.html' %}
    </body>
</html>