{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-header">
        <a class="navbar-brand" href="/"><img src="{% static 'srl/imgs/logo.png' %}" alt="thps.run Logo" width="139" height="30" /></a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Runner Rankings</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="/overall">Combined</a></li>
                    <li><a class="dropdown-item" href="/fullgame">Full Game</a></li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Individual Levels</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/thps1/all">THPS1</a></li>
                            <li><a class="dropdown-item" href="/thps2/all">THPS2</a></li>
                            <li><a class="dropdown-item" href="/thps3/all">THPS3</a></li>
                            <li><a class="dropdown-item" href="/thps4/all">THPS4</a></li>
                            <li><a class="dropdown-item" href="/thps4ce/all">THPS4 CE</a></li>
                            <li><a class="dropdown-item" href="/thug1/all">THUG1</a></li>
                            <li><a class="dropdown-item" href="/thug2/all">THUG2</a></li>
                            <li><a class="dropdown-item" href="/thaw/all">THAW</a></li>
                            <li><a class="dropdown-item" href="/thps12/all">THPS1+2</a></li>
                            <li><a class="dropdown-item" href="/thps12ce/all">THPS1+2 CE</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Full Game LBs</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Neversoft</a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li><a class="dropdown-item" href="/thps1/">THPS1</a></li>
                            <li><a class="dropdown-item" href="/thps2/">THPS2</a></li>
                            <li><a class="dropdown-item" href="/thps2x/">THPS2x</a></li>
                            <li><a class="dropdown-item" href="/thps3/">THPS3</a></li>
                            <li><a class="dropdown-item" href="/thps4/">THPS4</a></li>
                            <li><a class="dropdown-item" href="/thug1/">THUG1</a></li>
                            <li><a class="dropdown-item" href="/thug2/">THUG2</a></li>
                            <li><a class="dropdown-item" href="/thaw/">THAW</a></li>
                            <li><a class="dropdown-item" href="/thp8/">THP8</a></li>
                            <li><a class="dropdown-item" href="/thpg/">THPG</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Robomodo</a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li><a class="dropdown-item" href="/ths/">Shred</a></li>
                            <li><a class="dropdown-item" href="/thhd/">THHD</a></li>
                            <li><a class="dropdown-item" href="/thps5/">THPS5</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Remasters</a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li><a class="dropdown-item" href="/thps12/">THPS1+2</a></li>
                            <li><a class="dropdown-item" href="/thps34/">THPS3+4</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Handheld</a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li><a class="dropdown-item" href="/thps1gbc/">THPS1 GBC</a></li>
                            <li><a class="dropdown-item" href="/thps2gba/">THPS2 GBA</a></li>
                            <li><a class="dropdown-item" href="/thps3gba/">THPS3 GBA</a></li>
                            <li><a class="dropdown-item" href="/thps4gba/">THPS4 GBA</a></li>
                            <li><a class="dropdown-item" href="/thug1gba/">THUG1 GBA</a></li>
                            <li><a class="dropdown-item" href="/thug2remix/">THUG2 Remix</a></li>
                            <li><a class="dropdown-item" href="/thas/">THAS</a></li>
                            <li><a class="dropdown-item" href="/thp8psp/">THP8 PSP</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Other</a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li><a class="dropdown-item" href="/thdj/">THDJ</a></li>
                            <li><a class="dropdown-item" href="/thugpro/">THUG PRO</a></li>
                        </ul>
                    </li>
                    
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Category Extensions</a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li><a class="dropdown-item" href="/thpsce/">THPS CE</a></li>
                            <li><a class="dropdown-item" href="/thps4ce/">THPS4 CE</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">IL LBs</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Neversoft</a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li><a class="dropdown-item" href="/thps1/ils">THPS1</a></li>
                            <li><a class="dropdown-item" href="/thps2/ils">THPS2</a></li>
                            <li><a class="dropdown-item" href="/thps3/ils">THPS3</a></li>
                            <li><a class="dropdown-item" href="/thps4/ils">THPS4</a></li>
                            <li><a class="dropdown-item" href="/thug1/ils">THUG1</a></li>
                            <li><a class="dropdown-item" href="/thug2/ils">THUG2</a></li>
                            <li><a class="dropdown-item" href="/thaw/ils">THAW</a></li>
                            <li><a class="dropdown-item" href="/thpg/ils">THPG</a></li>
                            </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Remasters</a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li><a class="dropdown-item" href="/thps12/ils">THPS1+2</a></li>
                            <li><a class="dropdown-item" href="/thps34/ils">THPS3+4</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Other</a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li><a class="dropdown-item" href="/thdj/ils">THDJ</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Category Extensions</a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li><a class="dropdown-item" href="/thps4ce/ils">THPS4 CE</a></li>
                            <li><a class="dropdown-item" href="/thps12ce/ils">THPS1+2 CE</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <div class="vr"></div>

            {% if navbar_docs %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Guides</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% for game in navbar_docs %}
                            <li><a class="dropdown-item" href="/docs/{{ game.game }}">{{ game.game|upper }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Approved Mods</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">PARTYMOD</a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li><a class="dropdown-item" href="https://github.com/PARTYMANX/partymod-thps2" target="_blank">THPS2</a></li>
                            <li><a class="dropdown-item" href="https://github.com/PARTYMANX/partymod-thps3" target="_blank">THPS3</a></li>
                            <li><a class="dropdown-item" href="https://github.com/PARTYMANX/partymod-thps4" target="_blank">THPS4</a></li>
                            <li><a class="dropdown-item" href="https://github.com/PARTYMANX/partymod-thug1" target="_blank">THUG1</a></li>
                            <li><a class="dropdown-item" href="https://github.com/PARTYMANX/partymod-thug2" target="_blank">THUG2</a></li>
                            <li><a class="dropdown-item" href="https://github.com/PARTYMANX/partymod-thaw" target="_blank">THAW</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">ClownJob'd</a>
                        <ul class="dropdown-menu dropdown-submenu">
                            <li><a class="dropdown-item" href="https://thpsx.com/forums/index.php?topic=1291.0" target="_blank">THUG1</a></li>
                            <li><a class="dropdown-item" href="https://thpsx.com/forums/index.php?topic=1529.0" target="_blank">THUG2</a></li>
                        </ul>
                    </li>
                    <li><a class="dropdown-item" href="https://github.com/atljp/THUG-SDL" target="_blank">THUG1 SDL Mod</a></li>
                </ul>
            </li>

            <div class="vr"></div>

            <li class="nav-item">
                <a class="nav-link" style="color: red;" href="/tournament">THPS3+4 Tournament</a>
            </li>
        </ul>
        <ul class="navbar-nav social ml-autio">
            {% if ENV_DISCORD %}
            <li class="nav-item me-3 me-lg-0">
                <a href="/discord" class="soc" target="_blank"><i class="fab fa-discord fa-lg" alt="Community Discord" title="Community Discord"></i></a>
            </li>
            {% endif %}
            {% if ENV_TWITCH %}
            <li class="nav-item me-3 me-lg-0">
                <a href="/twitch" class="soc" target="_blank"><i class="fab fa-twitch fa-lg" alt="Community Twitch" title="Community Twitch"></i></a>
            </li>
            {% endif %}
            {% if ENV_YOUTUBE %}
            <li class="nav-item me-3 me-lg-0">
                <a href="/youtube" class="soc" target="_blank"><i class="fab fa-youtube fa-lg" alt="Community YouTube" title="Community YouTube"></i></a>
            </li>
            {% endif %}
            {% if ENV_BLUESKY %}
            <li class="nav-item me-3 me-lg-0">
                <a href="/bluesky" class="soc" target="_blank"><i class="fab fa-bluesky fa-lg" alt="Community Bluesky" title="Community Bluesky"></i></a>
            </li>
            {% endif %}
            {% if ENV_TWITTER %}
            <li class="nav-item me-3 me-lg-0">
                <a href="/twitter" class="soc" target="_blank"><i class="fab fa-twitter fa-lg" alt="Community Twitter" title="Community Twitter"></i></a>
            </li>
            {% endif %}
            {% if ENV_SRC %}
            <li class="nav-item me-3 me-lg-0">
                <a href="/src" class="soc" target="_blank"><i class="fas fa-trophy fa-lg" alt="Communuty Speedrun.com Leaderboards" title="Community Speedrun.com Leaderboards"></i></a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>


