<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="description" content="{{ ENV_WEBSITE_DESCRIPTION }}">
        <meta name="author" content="{{ ENV_WEBSITE_AUTHOR }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{{ ENV_WEBSITE_KEYWORDS }}">

        {% load custom_filters %}
        {% if player.nickname %}
            <title>{{ player.nickname }}{% if "/history" in request.path %}'s Run History{% endif %} - {{ ENV_WEBSITE_NAME }}</title>
        {% else %}
            <title>{{ player.name }}{% if "/history" in request.path %}'s Run History{% endif %} - {{ ENV_WEBSITE_NAME }}</title>
        {% endif %}

        
        <link rel="icon" href="{% static 'srl/imgs/favicon.png' %}" type="image/x-icon">
        
        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <link rel="stylesheet" type="text/css" href="{% static 'srl/misc/css.css' %}">
    </head>
    <body>
        {% include 'srl/navbar.html' %}

        <div class="super-container">
            <div class="profile-container">
                <div class="profile-info">
                    {% comment %} <div class="profile-pfp">
                        <img src="{% static 'pfp/'|add:player.id|add:'.jpg' %}" onerror="this.onerror=null; this.src='{% static 'pfp/default.png' %}'" title="{{ player.name }}" class="pfp-img" />
                    </div>    {% endcomment %}
                    <div class="profile-pfp">
                        <img src="{% static 'pfp/default.png' %}" title="{{ player.name }}" class="pfp-img" />
                    </div>
                    <div class="profile-data">
                        <div class="profile-username">
                        {% if player.countrycode.id != "vh" %}
                            {% if player.nickname %}
                                <img src="https://flagcdn.com/h20/{{ player.countrycode.id }}.png" title="{{ player.countrycode.name }}" alt="{{ player.countrycode.name }}" onerror="this.onerror=null; this.src=''" /> <div style="display: inline;" title="{{player.name}}">{{ player.nickname }}</div>
                            {% else %}
                                <img src="https://flagcdn.com/h20/{{ player.countrycode.id }}.png" title="{{ player.countrycode.name }}" alt="{{ player.countrycode.name }}" onerror="this.onerror=null; this.src=''" /> {{ player.name }}
                            {% endif %}
                        {% elif player.countrycode.id == "vh" %}
                            {% if player.nickname %}
                                <img src="{% static 'srl/misc/vh.png' %}" title="{{ player.countrycode.name }}" alt="{{ player.countrycode.name }}" /> <div style="display: inline;" title="{{player.name}}">{{ player.nickname }}</div>
                            {% else %}
                                <img src="{% static 'srl/misc/vh.png' %}" title="{{ player.countrycode.name }}" alt="{{ player.countrycode.name }}" /> {{ player.name }}
                            {% endif %}
                        {% else %}
                            {% if player.nickname %}
                                <div style="display: inline;" title="{{player.name}}">{{ player.nickname }}</div>
                            {% else %}
                                {{ player.name }}
                            {% endif %}
                        {% endif %}
                        </div>
                        {% if player.pronouns %}
                            <div class="profile-pronouns">({{ player.pronouns }})</div>
                        {% endif %}
                        {% if player.location %}
                            <div class="profile-location">{{ player.location }}</div>
                        {% endif %}
                        <div class="profile-socials">
                            <p class="socialicons" style="text-align:center;">
                                {% if player.twitch %}
                                    {% if player.nickname %}
                                        <a href="{{ player.twitch }}" target="_blank"><i class="fab fa-twitch fa-lg" alt="{{ player.nickname }}'s Twitch" title="{{ player.nickname }}'s Twitch"></i></a>
                                    {% else %}
                                        <a href="{{ player.twitch }}" target="_blank"><i class="fab fa-twitch fa-lg" alt="{{ player.name }}'s Twitch" title="{{ player.name }}'s Twitch"></i></a>
                                    {% endif %}
                                {% endif %}

                                {% if player.youtube %}
                                    {% if player.nickname %}
                                        <a href="{{ player.youtube }}" target="_blank"><i class="fab fa-youtube fa-lg" alt="{{ player.nickname }}'s YouTube" title="{{ player.nickname }}'s YouTube"></i></a>
                                    {% else %}
                                        <a href="{{ player.youtube }}" target="_blank"><i class="fab fa-youtube fa-lg" alt="{{ player.name }}'s YouTube" title="{{ player.name }}'s YouTube"></i></a>
                                    {% endif %}
                                {% endif %}

                                {% if player.twitter %}
                                    {% if player.nickname %}
                                        <a href="{{ player.twitter }}" target="_blank"><i class="fab fa-twitter fa-lg" alt="{{ player.nickname }}'s Twitter" title="{{ player.nickname }}'s Twitter"></i></a>
                                    {% else %}
                                        <a href="{{ player.twitter }}" target="_blank"><i class="fab fa-twitter fa-lg" alt="{{ player.name }}'s Twitter" title="{{ player.name }}'s Twitter"></i></a>
                                    {% endif %}
                                {% endif %}

                                {% if player.bluesky %}
                                    {% if player.nickname %}
                                        <a href="{{ player.bluesky }}" target="_blank"><i class="fab fa-bluesky fa-lg" alt="{{ player.nickname}}'s Bluesky" title="{{ player.nickname}}'s Bluesky"></i></a>
                                    {% else %}
                                        <a href="{{ player.bluesky }}" target="_blank"><i class="fab fa-bluesky fa-lg" alt="{{ player.name }}'s Bluesky" title="{{ player.name}}'s Bluesky"></i></a>
                                    {% endif %}
                                {% endif %}
                                
                                {% if player.nickname %}
                                    <a href="https://speedrun.com/user/{{ player.name }}" target="_blank"><i class="fas fa-trophy fa-lg" alt="{{ player.nickname }}'s Speedrun.com Profile" title="{{ player.nickname }}'s Speedrun.com Profile"></i></a>
                                {% else %}
                                    <a href="https://speedrun.com/user/{{ player.name }}" target="_blank"><i class="fas fa-trophy fa-lg" alt="{{ player.name }}'s Speedrun.com Profile" title="{{ player.name }}'s Speedrun.com Profile"></i></a>
                                {% endif %}
                                <br />
                                <a href="/player/{{player.name}}" style="font-size:small;">Stats</a> | <a href="/player/{{player.name}}/history" style="font-size:small;"}>History</a>
                            </p>
                        </div>
                    </div>
                    {% if "/history" not in request.path %}
                        <div class="profile-stats">
                            Total Points: {{ total_points }}<br />
                            Overall Rank: {{ player_rank }} / {{ player_count }}<br />
                            Total Runs: {{ total_runs }}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if awards %}
            <div class="profile-awards">
                <h6 style="text-decoration: underline;text-align: center;padding-top: 10px;">Awards</h6>
                {% for award in awards %}
                    {{ award.0 }}<br />
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="main-page-container">
            {% if main_runs %}
                {% if il_runs %}
                    <div class="fg-table">
                {% endif %}
                <table id="leaderboard-table-1" class="table table-striped table-hover">
                    <thead class="bg-info">
                        <tr class="bg-info">
                            {% if "/history" in request.path %}
                                <th colspan="7" class="bg-info">All Full Game Speedruns</th>
                            {% else %}
                                <th colspan="7" class="bg-info">Full Game Speedruns - Points: {{ main_points }}</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% regroup main_runs by game.name as game_run_groups %}

                        {% for group in game_run_groups %}
                            <tr>
                                <th colspan="7"  class="bg-info">
                                    {{ group.grouper }}
                                </th>
                            </tr>
                            {% for run in group.list %}
                                <tr>
                                    <td {% if run.obsolete == False and "/history" in request.path %} class="obsolete-tr" {% endif %}>
                                        <div class="subcategory">
                                            {% if run.subcategory %}
                                                {% with subcat=run.subcategory|custom_splitter %}
                                                    {{ subcat.0|trim }}<br />
                                                    {{ subcat.1|trim }}
                                                {% endwith %}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td {% if run.obsolete == False and "/history" in request.path %} class="obsolete-tr" {% endif %}>
                                        {% if run.obsolete == False %}
                                            <div class="placing">{{ run.place }}
                                        {% else %}
                                            <div class="placing">---
                                        {% endif %}
                                        <br />
                                        {% if run.game.defaulttime == "realtime"%}
                                            <a href="{{ run.url }}" target="_blank">{{ run.time }}</a>
                                        {% elif run.game.defaulttime == "realtime_noloads" %}
                                            {% if run.timenl_secs == 0 %}
                                                <a href="{{ run.url }}" target="_blank">{{ run.time }}</a>
                                            {% else %}
                                                <a href="{{ run.url }}" target="_blank">{{ run.timenl }}</a>
                                            {% endif %}
                                        {% else %}
                                            {% if run.timeigt_secs == 0 %}
                                                <a href="{{ run.url }}" target="_blank">{{ run.time }}</a>
                                            {% else %}
                                                <a href="{{ run.url }}" target="_blank">{{ run.timeigt }}</a>
                                            {% endif %}
                                        {% endif %}
                                        </div>
                                    </td>
                                    <td {% if run.obsolete == False and "/history" in request.path %} class="obsolete-tr" {% endif %}>
                                        {% if run.obsolete == False %}
                                            <div class="points">{{ run.points }}</div>
                                        {% else %}
                                            <div class="points">---</div>
                                        {% endif %}
                                    </td>
                                    <td {% if run.obsolete == False and "/history" in request.path %} class="obsolete-tr" {% endif %}>
                                        <div class="date">{{ run.o_date }}</div>
                                    </td>
                                    <td {% if run.obsolete == False and "/history" in request.path %} class="obsolete-tr" {% endif %}>
                                        {% if run.arch_video %}
                                            <div class="videos"><a href="{{ run.arch_video }}" alt="Archived Video" target="_blank"><i class="fa-solid fa-cloud" alt="Archived Video" title="Archived Video"></i></a><br />
                                        {% endif %}
                                        {% if "yout" in run.video %}
                                            <div class="videos"><a href="{{ run.video }}" alt="YouTube" target="_blank"><i class="fab fa-youtube fa-lg" alt="YouTube Video" title="YouTube Video"></i></a><br />
                                        {% endif %}
                                        {% if "twitch" in run.video %}
                                            <div class="videos"><a href="{{ run.video }}" alt="Twitch" target="_blank"><i class="fab fa-twitch fa-lg" alt="Twitch Video" title="Twitch Video"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            {% if il_runs %}
                {% if main_runs %}
                    <div class ="il-table">
                {% endif %}
                    <table id="leaderboard-table-3" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                {% if "/history" in request.path %}
                                    <th colspan="7" class="bg-info">All IL Speedruns</th>
                                {% else %}
                                    <th colspan="7" class="bg-info">IL Speedruns - Overall Points: {{ il_points }}</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% regroup il_runs by game.name as game_run_groups %}

                            {% for group in game_run_groups %}
                                <tr>
                                    <th colspan="7"  class="bg-info">
                                        {{ group.grouper }}
                                    </th>
                                </tr>
                                {% for run in group.list %}
                                    <tr>
                                        <td colspan="2" {% if run.obsolete == False and "/history" in request.path %} class="obsolete-tr" {% endif %}>
                                            <div class="subcategory">
                                                {% if run.subcategory %}
                                                    {% with subcat=run.subcategory|custom_splitter %}
                                                        {{ subcat.0|trim }}<br />
                                                        {{ subcat.1|trim }}
                                                    {% endwith %}
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td {% if run.obsolete == False and "/history" in request.path %} class="obsolete-tr" {% endif %}>
                                            {% if run.obsolete == False %}
                                                <div class="placing">{{ run.place }}
                                            {% else %}
                                                <div class="placing">---
                                            {% endif %}
                                            <br />
                                            {% if run.game.idefaulttime == "realtime" %}
                                                <a href="{{ run.url }}" target="_blank">{{ run.time }}</a>
                                            {% elif run.game.idefaulttime == "realtime_noloads" %}
                                                {% if run.timenl_secs == 0 %}
                                                    <a href="{{ run.url }}" target="_blank">{{ run.time }}</a>
                                                {% else %}
                                                    <a href="{{ run.url }}" target="_blank">{{ run.timenl }}</a>
                                                {% endif %}
                                            {% else %}
                                                {% if run.timeigt_secs == 0%}
                                                    <a href="{{ run.url }}" target="_blank">{{ run.time }}</a>
                                                {% else %}
                                                    <a href="{{ run.url }}" target="_blank">{{ run.timeigt }}</a>
                                                {% endif %}
                                            {% endif %}
                                            </div>
                                        </td>
                                        <td {% if run.obsolete == False and "/history" in request.path %} class="obsolete-tr" {% endif %}>
                                            <div class="date">{{ run.o_date }}</div>
                                        </td>
                                        <td {% if run.obsolete == False and "/history" in request.path %} class="obsolete-tr" {% endif %}>
                                            {% if run.obsolete == False %}
                                                <div class="points">{{ run.points }}</div>
                                            {% else %}
                                                <div class="points">---</div>
                                            {% endif %}
                                        </td>
                                        <td {% if run.obsolete == False and "/history" in request.path %} class="obsolete-tr" {% endif %}>
                                            {% if run.arch_video %}
                                                <div class="videos"><a href="{{ run.arch_video }}" alt="Archived Video" target="_blank"><i class="fa-solid fa-cloud"></i></a><br />
                                            {% endif %}
                                            {% if "yout" in run.video %}
                                                <div class="videos"><a href="{{ run.video }}" alt="YouTube" arget="_blank"><i class="fab fa-youtube fa-lg"></i></a><br />
                                            {% endif %}
                                            {% if "twitch" in run.video %}
                                                <div class="videos"><a href="{{ run.video }}" alt="Twitch" target="_blank"><i class="fab fa-twitch fa-lg"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
        {% include 'srl/footer.html' %}
    </body>
</html>