<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="description" content="{{ ENV_WEBSITE_DESCRIPTION }}">
        <meta name="author" content="{{ ENV_WEBSITE_AUTHOR }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{{ ENV_WEBSITE_KEYWORDS }}">
        
        <title>Privacy Policy - {{ ENV_WEBSITE_NAME }}</title>
        
        <link rel="icon" href="{% static 'srl/imgs/favicon.png' %}" type="image/x-icon">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <link rel="stylesheet" type="text/css" href="{% static 'srl/misc/css.css' %}">
    </head>
    <body>
        {% include 'srl/navbar.html' %}
        <br />
        <table id="privacy" class="privacy">
            <thead class="bg-info">
                <tr>
                    <th colspan="3">{{ ENV_WEBSITE_NAME }} Privacy Policy</th>
                </tr>
            </thead>
            <tbody>
                <td>
                    <div class="markdown-body">
                        <p>This document shall serve as the Privacy Policy for {{ ENV_WEBSITE_NAME }}.</p>

                        <p>All instances of "the website", "website", "site", or "we" will be in reference to {{ ENV_WEBSITE_NAME }}.</p>
                        <p>All instances of "you" or "your" will be in reference to any user that uses this website.</p>

                        <h2>What Is Collected</h2>
                        <ul>
                            <li>We collect email addresses during a private account registration (as of October 31, 2023, this is limited to only a few users).</li>
                            <li>We collect collect content via any interactions conducted via the website. Most of this content was converted over via the Speedrun.com API.</li>
                            <li>We collect telemetry to identify and resolve any and all technical issues with this site using Sentry.io.</li>
                        </ul>
                        <p>You are not required to submit any personal data on this site for any reason or to use its services.</p>

                        <h2>Storage</h2>
                        <ul>
                            <li>All collected user data on this site is encrypted in transit and at rest.</li>
                            <li>All user data is transmitted and stored in the United States.</li>
                            <li>All user data is retained on this site until your account is terminated. Any users wishing to exempt themselves and their runs from the site and its services may do so without penalty, restraint, or issue (please see the section below this document for additonal details) and shall be removed within 30 days of notice.</li>
                            <li>All data on this site is the sole possession of the user in question. If you wish lodge a complaint at this website, exempt yourself from its services, or wish to ask questions pertaining to this policy, please do so via email: packletwitch (at) gmail (dot ) com.</li>
                        </ul>
                        <h2>Social Media</h2>
                        <p>The website provides minimal connections to social media platforms. These are merely redirect links associated with the site or its administration.</p>

                        <h2>Exemptions</h2>
                        <p>All users utilizing this website - whether it be administrators or users without accounts - are allowed to exempt themselves from this site's leaderboards. When reviewed and approved, you will be added to the "exemptions" list when performing Speedrun.com API checks. Exempted users will not have their run available to view on the site, link to Speedrun.com, collect points, nor be known immediately. Your account will be scrubbed of all data, replaced by "Anonymous####" with #### corresponding to a random number between 1 and 9999.</p>

                        <h2>Age Restrictions</h2>
                        <p>To the extent prohibited by applicable law, this website will not allow anyone younger than 13 years old to join this website. If you learn that someone on the Speedrun.com leaderboards and on this site are younger than 13, please contact us.</p>

                        <h2>Cookies</h2>
                        <p>Cookies are defined as small amounts of data located on the user's hard drive that may include login information, session information, or other such settings. These cookies are reserved for administrators of the website for the previously describe functions - regular users who do not login will see a few cookies related to their session (including a CSRF token, which is used for security purposes).</p>
                        <p>The CSRFToken and SessionID cookies are necessary cookies for the website to function and to be secure.</p>

                        <h2>Ads</h2>
                        <p>This site is entirely ad free. Any future abilities to support the site via third-party funding will not affect this stance.</p>

                        <h2>Third-Party Websites</h2>
                        <p>This site contains links to third-party websites (such as Speedrun.com), henceforth referred to as "third-party website" or "third-party websites". These third-party websites are not under the control of this site and we shall disclaim any and all responsibility on its contents. We are not responsible for webcasting, tracking cookies, regular cookies, advertisements, and other such functions that are transmitted from third-party websites. We are providing these links for convenience, and their inclusion does not imply an endorsement or representation of said third-party website.</p>

                        <h2>Final Words</h2>
                        <p>You are encouraged to review the Privacy Policy, Terms of Conditions, or Terms of Service related to the associated third-party website to know your rights and report problems as whenever required.</p>
                        <p>We do not collect or aggregate user information for the intent of marketing or any other function other than what is required to ensure site functionality, stability, and usage. We shall not use this information for profit nor share user information with third parties.</p>
                        <p>This policy may change without notice in the future. By accessing this site or utilizing its services, you acknowledge that you have read, understand, and accept this agreement.</p>
                    </div>
                </td>
            </tbody>
        </table>
        <br />
        {% include 'srl/footer.html' %}
    </body>
</html>

