<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="description" content="THPS Speedrun Leaderboards">
        <meta name="author" content="THPS Speedrun Community">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="speedrun, leaderboards, thps, thps1, thps2, thps, World Record, Personal Best">

        <title>Regional Leaderboards - thps.run</title>

        <link rel="icon" href="{% static 'srl/imgs/favicon.png' %}" type="image/x-icon">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="{% static 'srl/misc/rg-runs-data.js' %}"></script>

        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <link rel="stylesheet" type="text/css" href="{% static 'srl/misc/css.css' %}">
    </head>
    <body>
        {% include 'srl/navbar.html' %}
        <div id="runs-data" style="display: none;">{{ leaderboard|json_script:"runs-data" }}</div>
        <form id="subcategory-form" class="search-bar">
            <select id="subcategory-dropdown" name="subcategory" onchange="updateLeaderboard()">
                {% for country in countries %}
                    <option value="{{ country.id }}" {% if country == selected_subcategory %}selected{% endif %}>{{ country.name }}</option>
                {% endfor %}
                    <option value="">Unknown</option>
            </select>
        </form>
        
        <table id="leaderboard-table" class="table table-striped">
            <thead class="bg-info">
                <tr>
                    <th>Rank</th>
                    <th>Player</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                {% for item in leaderboard %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="/player/{{ item.player.name }}">{{ item.player.name }}</a></td>
                        <td>{{ item.points }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'srl/footer.html' %}
    </body>
</html>