<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name="description" content="{{ ENV_WEBSITE_DESCRIPTION }}">
        <meta name="author" content="{{ ENV_WEBSITE_AUTHOR }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{{ ENV_WEBSITE_KEYWORDS }}">

        <title>THPS3+4 Tournament Qualifying - {{ ENV_WEBSITE_NAME }}</title>
        
        <link rel="icon" href="{% static 'srl/imgs/favicon.png' %}" type="image/x-icon">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        <script type="text/javascript" src="{% static 'srl/misc/leaderboard.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'srl/misc/css.css' %}">
    </head>
    <body>
        <div id="leaderboard-data" style="display: none;">{{ leaderboard.object_list|json_script:"leaderboard-data"  }}</div>
        {% include 'srl/navbar.html' %}
        <br />
        <table id="leaderboardTable" class="table table-striped table-light">
            <thead>
                <tr>
                    <th colspan="2" class="bg-info">Tony Hawk's Pro Skater 3+4 Speedrun Mode Qualifying Seeding</th>
                </tr>
            </thead>
            <tbody id="main">
                <tr>
                    <td class="bg-info" width="30%">Levels</td>
                    <td class="bg-info" width="70%">How to Join</td>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li style="text-align: left">THPS3: Foundry, Airport, Los Angeles</li>
                            <li style="text-align: left">THPS4: College, San Francisco, Shipyard</li>
                        </ul>
                    </td>
                    <td>
                        <ol>
                            <li style="text-align: left">Complete a speedrun in one of the six levels listed under "Levels" with video evidence.</li>
                            <li style="text-align: left">Submit that speedrun to the <a href="https://speedrun.com/thps34">THPS3+4 Speedrun.com Leaderboards</a> with <code>THPSTourney</code> in the comments.
                                <ul style="text-align: left">
                                    <li style="text-align: left">If you forget to do it, or you want to use that run later (because you ran out of time for a better run), resubmit with that tag!</li>
                                </ul>
                            </li>
                            <li style="text-align: left">Wait for approval.</li>
                            <li style="text-align: left">Once approved, the runs will show up here!
                                <ul style="text-align: left">
                                    <li style="text-align: left">Cut-off is based on submission date, not approval date!</li>
                                </ul>
                            </li>
                        </ol>
                    </td>
                </tr>
            </tbody>
        </table>

        <table id="leaderboardTable" class="table table-striped table-light table-hover">
            <thead>
                <tr>
                    <th colspan="3" class="bg-info">Qualifying Ends at <a href="https://time.is/compare/1200AM_27_July_2025_in_New_York" target="_blank">July 27th, 2025 @ 12:00 AM EST</a>!</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th class="bg-info">Seed</th>
                    <th class="bg-info">Player</th>
                    <th class="bg-info">Points</th>
                </tr>
            </thead>
            <tbody id="main">
                {% for item in leaderboard %}
                    <tr>
                        <td>{{ item.rank }}</td>
                        {% if item.countrycode %}
                            <td><img src="https://flagcdn.com/h20/{{ item.countrycode }}.png" title="{{ item.countryname }}" alt="{{ item.countryname }}" onerror="this.onerror=null; this.src=''" height="15" />
                                {% if item.nickname %}
                                    <a href="/player/{{ item.player }}">{{ item.nickname }}</a></td>
                                {% else %}
                                    <a href="/player/{{ item.player }}">{{ item.player }}</a></td>
                                {% endif %}
                        {% else %}
                            {% if item.nickname %}
                                <td><a href="/player/{{ item.player }}">{{ item.nickname }}</a></td>
                            {% else %}
                                <td><a href="/player/{{ item.player }}">{{ item.player }}</a></td>
                            {% endif %}
                        {% endif %}
                        <td>{{ item.total_points }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include 'srl/footer.html' %}
    </body>
</html>

